{
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest/globals": true,
    "node": true
  },
  "plugins": [
    "jest"
  ],
  "globals": {
    "$": "readonly",
    "c3": "readonly",
    "jQuery": "readonly",
    "setTimeout": "readonly",
    "setInterval": "readonly",
    "window": "readonly"
  },
  "rules": {
  }
}
